<html>
<head>
<title>Wimpy Player</title>
</head>
<body bgcolor="FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="middle">
<!-- START WIMPY PLAYER CODE -->
<script src="http://www.rockstaralley.com/mp3/wimpy/wimpyWrite.js" type="text/javascript"></script>
<script type="text/javascript">
<!-- 
wimpyWrite('<\157bj\145\143t \143l\141\163\163i\144=\042\143\154sid:d\062\067\143d\1426e-\141e6d-\061\061\143f-\0716\142\070-444\065\065\063\065\064\060\060\0600\042 co\144e\142\141s\145=\042http:\057/\146\160d\157wn\154oad.\155a\143\162om\145d\151a.\143\157m/pub/sho\143k\167a\166e\057c\141bs/\146la\163\150\057swflas\150.ca\142#v\145\162s\151on=8\0540,\060\0540\042 wid\164h=\04248\065\042 \150\145\151\147\150\164\075\042\062\0610\042 id\075\042\167\151\155p\17147\061\065\042>\074p\141\162\141\155 n\141\155\145=\042\141\154l\157w\123c\162i\160t\101\143\143\145s\163\042 value\075\042al\167\141y\163\042 \057\076<pa\162am n\141m\145\075\042m\157\166\151\145\042 v\141\154\165\145=\042h\164\164p\072\057/w\167\167\056r\157\143ks\164\141ra\154ley.\143om/mp3\057\167\151\155\160\171\057wi\155p\171\056\163wf\042 \057\076\074p\141\162am name\075\042l\157\157p\042 \166alue\075\042fa\154se\042 \057\076<pa\162am n\141m\145=\042m\145n\165\042 valu\145=\042\146al\163e\042 /><pa\162\141m \156\141m\145=\042q\165\141\154\151\164\171\042 va\154\165e=\042\150\151g\150\042 \057\076<\160\141r\141\155 na\155\145=\042\163cal\145\042 \166\141lue\075\042noscale\042 /\076\074\160aram n\141\155e=\042\163\141l\151g\156\042 v\141\154ue=\042\154t\042 \057><par\141\155 n\141\155\145\075\042bgc\157\154\157\162\042 val\165e\075\042\106F\106\106\106F\042 />\074pa\162\141m n\141\155\145=\042f\154\141\163\150v\141rs\042 \166a\154\165e\075\042\167\151m\160yReg\075\116\106Z\062\125Dg2b\127M\154NDA\154N\060UlM0NJ\143l\112Y\122\123U\061\121m5\060SCU\063\121\153\160\155\127CU\061\121m\0601cEMl\116\060\112\163\127\156\153\154N\152\101\154M\152\144\167&wimp\171\101\160p=ht\164p:\057/\167ww.ro\143\153\163\164\141r\141lley\056\143\157\155\057mp3/\167\151m\160y/\167\151\155p\171.\160\150\160&w\151m\160yS\153i\156\075h\164tp://\167\167w\056\162\157\143ks\164ar\141\154\154\145\171.c\157m/mp3/wi\155py\057ski\156_ne\167\056\170ml\046\147et\115yid\063inf\157=\171\145\163&the\126\157lume\07580&sta\162\164\120\154a\171ingO\156l\157\141\144=ye\163&l\157\157\160\120l\141y\154\151st\075al\154\042 /><par\141\155 nam\145\075\042\167\155\157d\145\042 \166\141lu\145\075\042t\162\141n\163pare\156\164\042 \057\076\074\145\155b\145d \163r\143=\042h\164tp\072/\057\167ww\056ro\143\153s\164a\162\141l\154\145\171.com\057m\160\063\057wimpy\057w\151mpy.swf\042 f\154\141\163hv\141\162\163\075\042\167\151mpyR\145g\075N\106\132\062\125Dg2b\127\115\154N\104AlN\060UlM0\116J\143l\112\131R\123U\061Qm\065\060\123C\125\063Q\153\160m\127\103\125\061\121m\060\061\143E\115\154\116\060J\163\127\156\153\154N\152\101\154M\152dw\046wimpy\101p\160\075h\164t\160://\167ww\056\162ock\163\164\141\162\141\154\154ey.\143\157\155/\155\1603/wi\155\160\171/\167i\155py\056php&w\151mp\171\123ki\156\075h\164tp\072\057\057www.ro\143k\163tar\141l\154e\171.\143\157\155\057mp\063\057wi\155\160y/\163\153i\156_n\145w.\170m\154\046\147etMy\151\1443\151nfo\075\171\145s&\164he\126ol\165me\0758\060&\163\164\141\162\164Pla\171ingOn\154o\141d=y\145s\046\154oo\160\120l\141y\154\151\163t\075al\154\042 loo\160=\042f\141\154\163\145\042 me\156\165\075\042\146alse\042 \161ual\151\164\171\075\042h\151\147\150\042 \167m\157de=\042\164r\141n\163\160\141re\156t\042 \167\151d\164\150\075\0424\070\065\042 heigh\164\075\042210\042 \163\143\141\154e=\042\156o\163\143ale\042 s\141\154ign\075\042\154t\042 \156a\155\145\075\042wimpy4\0671\065\042 al\151gn\075\042\143en\164er\042 \142g\143\157lo\162=\042FF\106FFF\042 a\154low\123\143\162ip\164\101\143c\145s\163\075\042\141\154\167\141\171\163\042 t\171p\145=\042\141ppl\151cat\151\157n\057x\055sh\157\143k\167a\166e-\146las\150\042 \160\154\165gin\163\160a\147e=\042\150t\164p:\057/ww\167.macrom\145di\141\056\143om\057go/get\146l\141\163\150p\154\141\171e\162\042 /\076</obj\145\143t>');
//-->
</script>
<!-- END WIMPY PLAYER CODE -->
	</td>
  </tr>
</table>
</body>
</html>
