<h1>Editing album</h1>

<%= error_messages_for :album %>

<%= render :partial => @album, :locals => {:button_name => "Save Changes"} %>

<%= link_to 'Show', @album %> |
<%= link_to 'Back', albums_path %>
