<div id="left-nav">
<ul id="side_links">
  <% streamlined_side_menus.each do |text,url_for_options| %>
    <li>
	<% if text == controller::controller_name %>
	  <h3><%= text %></h3>
	<% else %>
	  <a href="<%= url_for(url_for_options) %>"><%= text %></a>
	<% end %>
	</li>
  <% end %>
</ul>
</div>
