<h1>User Info</h1>
<% if self.current_user then %>
<p>login name: <%=current_user.login %></p>
<p>email: <%=current_user.email  %></p>
<p>created_at: <%=current_user.created_at  %></p>
  <% if not current_user.with_actor? then %>
  <%= link_to 'Set Up Your Actor', :controller => 'actor', 
                                 :action => 'create' %>
  <% end %>
<% end %>