<div id="footer">
  <hr />
  site by <a href="http://codeboxer.com" target="_top">codeboxer.com</a> &copy;2007-<%=Time.now.year%> <small>All Rights Reserved</small> | leave a <a href="http://theaxelvault.com/rsa" target="_top">comment</a>
</div>