<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<%= stylesheet_link_tag '/stylesheets/application.css', :media => 'all' %>
  <title>RockStarAlley Home</title>
</head>
<body>
	<% if @fbid == "3344222255" %>
	  <% redirect_to error_url %>
	<% end %>
	<div id="container">
	  <div id="page" style="display: inline;">
	    <div id="content" style="display: inline;" align="center">
		  <h3>RockStarAlley</h3><hr>
		  <table><tr><td>
		  <div align="center" >
			<%= image_tag("http://kristeraxel.com/art/rockstaralley2_99.jpg", :border=>0) %><br>
			<% if @fbid != "3344222255" %><%= link_to 'play', :controller => 'game', :action => 'play' %><%end%> 
			</div>

		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield  %>
	      <p><td></tr>
		  </table>
	    </div>
	    <br style="clear:both;" />
	  </div>
	<%= render(:partial => "layouts/footer")%>
	</div>	

</body>
</html>


